<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_frames">

  <xacro:arg name="tf_prefix" default=""/>

  <link name="$(arg tf_prefix)/base_sensors"/>
  
  <link name="$(arg tf_prefix)/gps_frame"/>
  <link name="$(arg tf_prefix)/imu_frame"/>
  <link name="$(arg tf_prefix)/laser_frame"/>
  
  <joint name="$(arg tf_prefix)/base_base_sens" type="fixed">
    <parent link="$(arg tf_prefix)/base_link"/>
    <child link="$(arg tf_prefix)/base_sensors"/>
    <origin xyz="0.67 0 0.6" rpy="0 0 0"/>
  </joint>
  
  <joint name="$(arg tf_prefix)/base_sens_gps_frame" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/gps_frame"/>
    <origin xyz="-0.01 0 0.3" rpy="0 0 0"/>
  </joint>
  
  
  <joint name="$(arg tf_prefix)/base_sens_imu_frame" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/imu_frame"/>
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
  </joint>
  
  <joint name="$(arg tf_prefix)/base_sens_laser_frame" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/laser_frame"/>
    <origin xyz="0.10 0. 0" rpy="0 0 0"/>
  </joint>

</robot>

